# Python related
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.mypy_cache/
.pytest_cache/
build/
ipynb_checkpoints/

# virtual environments
.venv/
venv/
env/

# data files
data/                

# checkpoints
checkpoints/
*.pt
*.pth
*.pkl
*.pickle
*.npy
*.npz

# logs and outputs
*.log
*.out
*.err
*.json
!tests/fixtures/*.json
!tests/fixtures/ts_tests/*.json


# system files
.DS_Store
Thumbs.db

# WandB local runs
wandb/run-*/
wandb/latest-run

# Slurm logs
logs/
*.out
*.err

